:root {
  /* COLORS */
  --primary-color: #f9dd00;
  --secondary-color: #4f5a65;
  --background-color: #000000;
  --font-color-heading: #f9dd00;
  --font-color-paragraph: #ffffff;
  --CTA-color: #226ce0;
  --warning-color: #e63946;

  /* FONTS */
  --font-heading: "Roboto Mono", monospace;
  --font-paragraph: "Noto Sans", sans-serif;

  /* OTHER */
  --side-margin-mobile: 16px;
  --header-height: 64px;
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
}

main {
  margin-top: var(--header-height);
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  font-family: var(--font-heading);
  color: var(--font-color-heading);
  letter-spacing: -1px;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font-heading);
  color: var(--font-color-heading);
}

p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-paragraph);
  color: var(--font-color-paragraph);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-heading);
}

a:hover {
  text-decoration: underline;
}
