:root {
  /* COLORS */
  --primary-color: #f6eee2;
  --secondary-color: #22225f;
  --font-color-heading: #101518;
  --font-color-paragraph: #935c37;

  /* FONTS */
  --font-heading: "Roboto Mono", monospace;
  --font-paragraph: "Noto Sans", sans-serif;
}

body {
  margin: 0;
}

h2 {
  font-size: 20px;
  font-family: var(--font-heading);
  color: var(--font-color-heading);
}

p {
  font-size: 16px;
  font-family: var(--font-paragraph);
  color: var(--font-color-paragraph);
}
